<%- include("../partials/header.ejs")%>
<div class="container">

    <form action="/sheets" method="POST" class="standalone-form">
        <h2>Add a new sheet</h2>
        <input type="text" name="title" placeholder="Nazwa">
        <input type="text" name="description" placeholder="Opis">

        <input type="submit" formaction="/sheets/draft" value="Zapisz jako szkic">
        <input type="submit" formaction="/sheets/addtasks" value="Dodaj zadania">

    </form>
</div>
<%- include("../partials/footer.ejs")%>