<%- include("../partials/header.ejs")%>
<div class="container">
    <h2>Add a new sheet</h2>
    <form action="/tasks" method="POST" class="standalone-form">
        <input type="text" name="title" placeholder="Nazwa">
        <input type="text" name="description" placeholder="Opis">

        <input type="submit" value="Zapisz jako szkic">

    </form>
</div>
<%- include("../partials/footer.ejs")%>