<%- include("./partials/header.ejs")%>
<%var taskers = user.tasks%>

<div class="container">

    <h2>Show Task</h2>


        <div class="post">
            <h4>Typ zadania: <%=task.type%></h4>

        </div>



</div>
<%- include("./partials/footer.ejs")%>